*{
  margin: 0;
  padding: 0;
}

:root{
  --primary_color: #000000;
  --secundary_color:#393e46;
  --third_color: rgb(90, 86, 80);
  --family: "Roboto", sans-serif;
  --font_color: #DFD0B8;
}

body{
  font-family: var(--family);
  background-color: var(--primary_color);
  color: white;
  display: flex;
  flex-direction: column;
   min-height: 100vh;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 100px 20px 80px;
  flex: 1;
}

h1{
  font-weight: 500;
}

.card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: var(--third_color);
  border-radius: 12px;
  font-size: 1.2em;
  transition: 0.3s ease-in;
  box-shadow: 7px 7px #3e444d54;
}

.card:hover{
  transform: scale(1.05);
  box-shadow: 7px 7px #3e444d93;
}

.nome{
  color: white;
  font-weight: 400;
  font-style: normal;
}

header {
  background-color: var(--secundary_color);
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 10px 0;
} 

footer {
  text-align: center;
  background-color: var(--secundary_color);
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px 0;
  font-weight: 700;
  display: flex;
  justify-content: center;
  gap: 5px;
  font-weight: 100;
}

button{
  border: none;
  border-radius: 7px; 
  color: white;
  background-color: var(--secundary_color);
  width: 4em;
  height: 2em;
  transition: 0.2 ease;
}

button:hover{
  font-weight: 700;
  transform: scale(1.05);
}

img{
  object-fit: cover;
  width: 1.5em;
}